$color-primary: #effaf2;
$color-secondary: #fdfffe;
$color-accent: #e76b74;
$color-text: #333;
$color-text-regular: #333333a9;
$color-light: #fffdfd;
$color-muted: #888;
$shadow: 1px 2px 4px 2px #eaf1ec;
