@use "../../styles/variables.scss" as *;

h2 {
  margin-bottom: 2rem;
}

/* Hero Section */
.hero {
  width: 100%;
  color: $color-text;
  margin: 8rem 0;
  text-align: center;

  .heroContent {
    max-width: 800px;
    margin: 0 auto;

    p {
      margin-bottom: 1.5rem;
      color: $color-text-regular;
    }
  }

  .ctaButton {
    background-color: $color-accent;
    transition: filter 0.2s ease;
    border: none;
    padding: 0.8rem 1.2rem;
    color: $color-light;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background-color: $color-accent;
      filter: brightness(0.95);
    }
  }
}

/* Store Info Section */
.storeInfo {
  margin: 8rem 1rem;
  text-align: center;

  .infoCards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    p {
      color: $color-text-regular;
    }

    .infoCard {
      display: flex;
      flex-direction: column;
      background-color: $color-light;
      border: 1px solid $color-accent;
      box-shadow: $shadow;
      padding: 1rem;
      flex: 1 1 250px;
      border-radius: 8px;
      gap: 0.8rem;
      max-width: 400px;
    }
  }
}

/* News & Deals Section */
.news {
  margin: 8rem 0;
  text-align: center;

  .newsList {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    .newsItem {
      display: flex;
      flex-direction: column;
      background-color: $color-light;
      border: 1px solid $color-accent;
      box-shadow: $shadow;
      padding: 1rem;
      flex: 1 1 300px;
      border-radius: 4px;
      gap: 0.7rem;
      max-width: 400px;

      p {
        color: $color-text-regular;
      }

      .moreLink {
        color: $color-accent;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/* About Section */
.about {
  margin: 8rem 0;
  text-align: center;
  max-width: 1200px;
  align-self: center;
  justify-self: center;

  p {
    margin-bottom: 1.5rem;
    color: $color-text-regular;
  }

  .aboutButton {
    background-color: $color-accent;
    transition: filter 0.2s ease;
    border: none;
    padding: 0.8rem 1.2rem;
    color: $color-light;
    cursor: pointer;
    border-radius: 4px;

    &:hover {
      background-color: $color-accent;
      filter: brightness(0.95);
    }
  }
}

/* Testimonials Section */
.testimonials {
  padding: 2rem;
  text-align: center;

  .testimonialList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    .testimonial {
      background-color: $color-light;
      border: 1px solid $color-accent;
      padding: 1rem;
      border-radius: 8px;
      max-width: 600px;
      box-shadow: $shadow;

      p {
        font-style: italic;
        margin-bottom: 0.5rem;
      }

      cite {
        font-size: 0.9rem;
        color: $color-muted;
      }
    }
  }
}
